.container {
    display: flex;
    justify-content: space-around;
}
input {
    height: 40px;
    border: none;
    cursor: pointer;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 6px;
    background-color: rgb(41, 142, 230);
    color: white;
    border: none;
    cursor: pointer;
}

select, option {
    height: 40px;
    border-radius: 6px;
    cursor: auto;
}

input[type="file"] {
    height: 20px;
    width: 150px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid black;
    text-align: center;
    align-items: center;
    align-self: center;
    border-radius: 6px;
}

.canvas {
    display: flex;
    justify-content: center;
}

